{{#link-to 'index'}}<h2 id="title">Bustle and Flow</h2>{{/link-to}}
<!-- <nav>
  {{#link-to 'about'}}News{{/link-to}}
  {{#link-to 'contact'}}Entertainment{{/link-to}}
  {{#link-to 'announcement'}}Fashion and Beauty{{/link-to}}
  {{#link-to 'lifestyles'}}Lifestyles{{/link-to}}
  {{#link-to 'books'}}Books{{/link-to}}
</nav> -->
{{outlet}}
